{% extends "base.html" %}

{% block content %}
<h1>{{title}}</h1>

<br>
<form action="/login" method="post">
  <table cellspacing= "15">
    <tbody>
        <tr>
            <td><label for="username">Username</label></td>
            <td>
                <input name="username" type="text" value="{{ username }}">
            </td>
            <td>
            <span class= "error"> {{username_error}}</span>
            </td>
        </tr>
        <tr>
            <td><label for="password">Password</label></td>
            <td>
                <input name="password" type="password">
            </td>
            <td>
            <span class= "error"> {{password_error}}</span>
            </td>
        </tr>
      </tbody>
    </table>
    <input class="submit" type="submit" value="Login">
    <br><br>
</form>
<p class="signup">If you don't have an account, click <a href="/signup">here</a> to create one</p>

{% endblock %}
