{% extends "base.html" %}

{% block content %}
    <h1 class = "title">Add a Blog Entry</h1><br>
    <form method='post'>
        <label>
            Title for your new blog:<br>
            <input type="text" name='blog-title' />
        </label>
        <br><br>
        <label>
            Your new blog:<br>
            <textarea type="text" class="new_blog" name="blog"></textarea>
        </label>
              <br><br>
              <input class ="submit" type="submit" value="Add Entry">

    </form>
{% endblock %}
