{% extends "base.html" %}

{% block content %}
<h1>Signup for an Account</h1>
<form action="/signup" method="post">
    <table cellspacing= "15">
      <tbody>
        <tr>
          <td>
            <label for= "username">Username:</label>
          </td>
          <td>
            <input name="username" type="text" value="{{username}}"/>
          </td>
            <td>
            <span class= "error"> {{username_error}}</span>
            </td>
        </tr>
        <tr>
          <td>
            <label for= "password">Password:</label>
          </td>
          <td>
            <input name="password" type="password" value= "{{password}}"/>
          </td>
            <td>
            <span class = "error">{{password_error}}</span>
            </td>
        </tr>
        <tr>
          <td>
            <label for= "verify">Verify Password:</label>
          </td>
          <td>
            <input name= "verify" type= "password" value ="{{verify}}"/>
          </td>
            <td>
            <span class= "error">{{verify_password_error}}</span>
            </td>
        </tr>
      </tbody>
    </table>
    <input class="submit" type="submit"/>
</form>
<p>Already have an account? Log in <a href="/login">here</a>.

{% endblock %}
